
   body {
    background-color:rgba(233, 200, 200, 0.3) ;
    
   }
   .crossed {
   
     text-decoration: line-through 2px red;
     color: rgb(199, 171, 171);
     
   
   }
   ul, li{
     padding: 10px;
     margin: 0;
     list-style-type: none;
     font-family: 'Montserrat', sans-serif;
     text-align: center;
   }
   h1{
     font-family: 'Montserrat', sans-serif;
   }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
 .containerTwo{
    min-width: 50vw;
    display: flex;
    justify-content: center;
 }
   .add{
     margin-top: 5px;
     background-color: rgb(179, 193, 165);
     padding: 10px;
     border: none;
     flex: 1;
     color: white;
     font-size: 10px;
     font-family: 'Montserrat', sans-serif;
     border-radius: 30px;
   }
   .delete{
     margin-bottom: 5px;
     background-color: rgb(81, 76, 77);
     padding: 10px;
     border: none;
     flex: 1;
     color: white;
     font-size: 10px;
     font-family: 'Montserrat', sans-serif;
     border-radius: 30px;
   }
   input{
     flex:1;
     padding: 8px;
     margin: 10px;
     font-family: 'Montserrat', sans-serif;
     text-align: center;
     border: none;
     border-radius: 30px;

   }
  